<a href="https://colab.research.google.com/github/Paymanshus/ML-Sem-V/blob/master/ML_J046_Exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
!wget -O FuelConsumption.csv

wget: missing URL
Usage: wget [OPTION]... [URL]...

Try `wget --help' for more options.

In [118]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.optimizers import Adam

In [119]:
iris = load_iris()
iris = pd.DataFrame(data= np.c_[iris['data'], iris['target']],columns= iris['feature_names'] + ['target'])
iris.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

#Preprocessing

In [120]:
iris.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [121]:
iris.shape

(150, 5)

In [122]:
iris.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target               float64
dtype: object

In [123]:
X = iris.iloc[:,:-1]
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [124]:
Y = iris.iloc[:,-1]
Y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: target, dtype: float64

In [125]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.4)

In [127]:
logistics = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()
passagg = linear_model.PassiveAggressiveClassifier()
ridgecv = linear_model.RidgeClassifierCV()
ridgeclass = linear_model.RidgeClassifier()

models_log = [logistics, sgd, passagg, ridgecv, ridgeclass]

In [128]:
def get_cv_scores(model):
    scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [129]:
import warnings
from sklearn.model_selection import cross_val_score, KFold, train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score, r2_score
warnings.filterwarnings('ignore')
for i in models_log:
    print(i)
    get_cv_scores(i)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
CV Mean:  0.9777777777777779
STD:  0.027216552697590882


SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
CV Mean:  0.9111111111111111
STD:  0.0753592220347252


PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)
CV Mean:  0.888888888888889
STD:  0.14487116456005883


RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)
CV Mean:  0.8444444444444443
STD:  0.08888888888888889


RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)
CV Mean:  0.8444444444444443
STD:  0.08888888888888889

In [130]:
solver = ['liblinear', 'newton-cg', 'lbfgs', 'sag', 'saga']
param_grid = dict(solver = solver)

In [131]:
grid = GridSearchCV(estimator = logistics, param_grid = param_grid, scoring = 'accuracy', cv = 10)
grid.fit(X_train, y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'solver': ['liblinear', 'newton-cg', 'lbfgs', 'sag',
                                    'saga']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [132]:
grid.best_params_

{'solver': 'newton-cg'}

In [133]:
logi = linear_model.LogisticRegression(solver='newton-cg')
logi.fit(X_train, y_train)
pred = logi.predict(X_test)

In [134]:
print(f'Accuracy Score: {accuracy_score(y_test, pred)}')

Accuracy Score: 0.9333333333333333

#Linear Regression

In [135]:
fuel = pd.read_csv('https://raw.githubusercontent.com/kritikseth/Datasets/master/Fuel_Consumpltion.csv')

In [136]:
fuel.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [137]:
fuel.shape

(1067, 13)

In [138]:
fuel.describe()

       MODELYEAR   ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
count     1067.0  1067.000000  ...               1067.000000   1067.000000
mean      2014.0     3.346298  ...                 26.441425    256.228679
std          0.0     1.415895  ...                  7.468702     63.372304
min       2014.0     1.000000  ...                 11.000000    108.000000
25%       2014.0     2.000000  ...                 21.000000    207.000000
50%       2014.0     3.400000  ...                 26.000000    251.000000
75%       2014.0     4.300000  ...                 31.000000    294.000000
max       2014.0     8.400000  ...                 60.000000    488.000000

[8 rows x 8 columns]

In [139]:
fuel['MODELYEAR'].value_counts()

2014    1067
Name: MODELYEAR, dtype: int64

In [140]:
fuel.drop(['MODELYEAR'], axis=1, inplace=True)

In [141]:
fuel['VEHICLECLASS'].value_counts()

MID-SIZE                    178
COMPACT                     172
SUV - SMALL                 154
SUV - STANDARD              110
FULL-SIZE                    86
TWO-SEATER                   71
SUBCOMPACT                   65
PICKUP TRUCK - STANDARD      62
MINICOMPACT                  47
STATION WAGON - SMALL        36
VAN - PASSENGER              25
VAN - CARGO                  22
MINIVAN                      14
PICKUP TRUCK - SMALL         12
SPECIAL PURPOSE VEHICLE       7
STATION WAGON - MID-SIZE      6
Name: VEHICLECLASS, dtype: int64

In [142]:
fuel['MODEL'].value_counts().count()

663

In [143]:
fuel.drop(['MODEL'], axis=1, inplace=True)

In [144]:
fuel['TRANSMISSION'].value_counts()

A6     222
AS6    189
M6     141
A8      87
AS8     80
AS7     76
M5      48
AV      46
A4      45
AM7     34
A5      30
A7      12
AV6     11
AS5     10
M7       9
A9       8
AM6      6
AV7      5
AV8      3
AM5      2
AS9      2
AS4      1
Name: TRANSMISSION, dtype: int64

In [145]:
fuel['MAKE'].value_counts().count()

39

In [146]:
fuel['FUELTYPE'].value_counts()

X    514
Z    434
E     92
D     27
Name: FUELTYPE, dtype: int64

In [147]:
le = LabelEncoder()
label_enc = ['TRANSMISSION', 'VEHICLECLASS', 'MAKE', 'FUELTYPE']
for i in label_enc:
  fuel[i] = le.fit_transform(fuel[i])

In [148]:
cols = fuel.columns
fuel = scaler.fit_transform(fuel)
fuel = pd.DataFrame(fuel, columns = cols)

In [152]:
fuel.head()

       MAKE  VEHICLECLASS  ...  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
0 -1.575452     -1.244334  ...                  0.878553     -0.950840
1 -1.575452     -1.244334  ...                  0.342734     -0.556161
2 -1.575452     -1.244334  ...                  2.887876     -1.898070
3 -1.575452      0.915493  ...                 -0.193086     -0.019397
4 -1.575452      0.915493  ...                  0.074824     -0.193056

[5 rows x 11 columns]

In [154]:
X = fuel.iloc[:,:-1]
X.head()

       MAKE  VEHICLECLASS  ...  FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG
0 -1.575452     -1.244334  ...             -0.884304                  0.878553
1 -1.575452     -1.244334  ...             -0.568571                  0.342734
2 -1.575452     -1.244334  ...             -1.630581                  2.887876
3 -1.575452      0.915493  ...             -0.138027                 -0.193086
4 -1.575452      0.915493  ...             -0.281542                  0.074824

[5 rows x 10 columns]

In [157]:
Y = fuel.iloc[:,-1]

In [158]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4)

In [159]:
linear = linear_model.LinearRegression()
ridge = linear_model.Ridge()
lasso= linear_model.Lasso()
elastic = linear_model.ElasticNet()
lasso_lars = linear_model.LassoLars()
bayes_ridge = linear_model.BayesianRidge()

models_churn = [linear, ridge, lasso, elastic, lasso_lars, bayes_ridge]

In [160]:
def cross_val(model):
  score = cross_val_score(model, X_train, y_train, cv=5, scoring='r2')
  print(f'Maximum R2: {max(score)}, StdDev in R2: {np.std(score)}')
  print('_'*100+'\n')

In [161]:
for i in models_churn:
  print(i, '\n')
  cross_val(i)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Maximum R2: 0.9113496187764824, StdDev in R2: 0.01893138877573744
____________________________________________________________________________________________________

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

Maximum R2: 0.9117953762675476, StdDev in R2: 0.019055326552018356
____________________________________________________________________________________________________

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

Maximum R2: -0.0030609555875653616, StdDev in R2: 0.008476076790176198
____________________________________________________________________________________________________

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

Maximum R2: 0.5691849150825404, StdDev in R2: 0.022495825983076676
____________________________________________________________________________________________________

LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, max_iter=500, normalize=True, positive=False,
          precompute='auto', verbose=False)

Maximum R2: -0.0030609555875653616, StdDev in R2: 0.008476076790176198
____________________________________________________________________________________________________

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

Maximum R2: 0.91178628010745, StdDev in R2: 0.019151014358627334
____________________________________________________________________________________________________

In [162]:
alpha = [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100]
solver = ['auto', 'svd']
param_grid = dict(alpha = alpha, solver = solver)

In [163]:
grid = GridSearchCV(estimator=ridge, param_grid=param_grid, scoring='r2', cv=20)
grid.fit(X_train, y_train)

GridSearchCV(cv=20, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100],
                         'solver': ['auto', 'svd']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=0)

In [164]:
grid.best_params_

{'alpha': 10, 'solver': 'auto'}

In [165]:
ridge = linear_model.Ridge(alpha=10, solver='svd')
ridge.fit(X_train, y_train)
pred = ridge.predict(X_test)

In [166]:
print(f'R2 Score: {r2_score(y_test, pred)}')

R2 Score: 0.9060723211920101